* {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    body {
        background-color: purple;   
    }

    .columns {
        flex-direction: column;

    }
    
}

body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}


img {
    width: 100%;
}

p {
    margin-top: 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    width: 95%;
}

.columns {
    display: flex;
    margin: 2em 0em;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;    
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

.color-h1 {
    color: #B7832F;
}

.columns-sides {
    background-color: #312614;
    padding: .5em;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

@media (max-width: 600px) {
    .col-1, .col-2, .col-3 {
        width: 100%;
        margin: 0 .5em;
    }
    h2 {
        text-align: center;
    }
    .columns {
        margin-top: .5em;
    }
    .columns-sides {
        margin: 0 1em;
    }
}